@{
    ViewData["Title"] = "AutoService warsztat samochodowy";
}

<div class="text-center">
    <h1 class="display-4">AutoService</h1>
    <p>Witaj w bazie danych AutoService. Kliknij na link w menu, aby otworzyć odpowiednią listę.</p>
</div>
